# Byte-compiled / optimized / C extensions
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environments
venv/
.venv/

